.centralizarLoading{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000b6;
}
.centralizarLoading img{
    width: 100px;
}